<form action="." method="get">
    <input type="number" required name="year">
    <input type="submit" value="Year">
</form>
<form action="." method="get">
    <input type="number" required name="genre">
    <input type="submit" value="Genre ID">
</form>
<table width="50%">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>AUTHOR</th>
        <th>GENRE</th>
        <th>YEAR</th>
        <th>CONTENT</th>
    </tr>
    {% for book in books %}
    <tr align="center">
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.author_obj.name}}</td>
        <td>{{book.genre_obj.name}}</td>
        <td>{{book.year}}</td>
        <td>{{book.content}}</td>
    </tr>
    {% endfor %}
</table>
